*{
    margin: 0;
    padding: 0;

}
html,
body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;


}
nav{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid wheat;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 20%; 
}
.list{
    width: 100%;
    height: 100%;
    margin-left: 120%;
    display: flex;
   justify-content: start;
     align-items: center;
     font-size: 20px;
}
h1{
    font-size: 40px;
    margin-left: 10%;
    
}
#l11{
    margin-left: 250%;
}
#navb{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid wheat;
}
#navb ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#navb #li2{
margin-left: 20%;
font-size: 15px;

}
#li2:hover{
    cursor: pointer;
    text-decoration: underline;
}
.con1{
    width:  100%;
    height: 75%;
  background-image: url("https://img.freepik.com/premium-vector/abstract-artificial-intelligence-cloud-computing-machine-learning-technology-web-background-virtual-concept-futuristic-background_118331-1428.jpg");
  background-size: cover;
  background-position: center;
}
h2{
    font-size: 60px;
    margin-left: 10%;
    color: white;

}
p{
    margin-left: 10%;
   color: white;

}
.con2{
    width: 40%;
    height: 20%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#bt1{
    width: 250px;
    height: 40px;
    background-color: rgb(38, 142, 142);
    border-radius: 25px;
    border: 1px solid black;
    color: white;
    font-size: 20px;
}
#bt1:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
#bt2{ width: 250px;
    height:40px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
    color: black;
    font-size: 20px;

}
#bt2:hover{
    cursor: pointer;
    background-color:black;
    color: white;
}

